### Java ###
# Compiled class file
*.class

src/**/bin/

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
